<div class="card h-100 shadow-sm rounded-4 overflow-hidden card-interattiva">
    @if (image()) {
        <!--
        (error) implementa un immagine di errore universale 
        Se il browser prova a caricare la stringa dentro image() e fallisce si attiva questo evento
        -->
        <img #cardImg [src]="image()" [alt]="titolo()" class="card-img-top" (error)="cardImg.src = 'error-icon.jpg'">
    }
    <div class="card-body">
        <h5 class="card-title fw-bolder">{{ titolo() }}</h5>
        <p class="card-text text-muted">{{ descrizione() }}</p>
    </div>

    <div class="my-2">
        <ng-content></ng-content>
    </div>

    <button type="button" class="btn btn-custom btn-primary mx-3 mb-4 btn-sm" (click)="selezionato.emit()">Dettaglio</button>
</div>
