<div class="container mt-4">
    
    <h2 class="mb-5 mt-4 fw-bolder text-secondary fs-4">Lista studenti</h2>

    <app-filtro-studenti (filtroApplicato)="onFiltroApplicato($event)" />

    @if (facade.loading()) {
        <div class="text-center my-5">
            <div class="spinner-border" role="status"></div>
        </div>
    } @else if (facade.errore()) {
        <div class="alert alert-danger">{{facade.errore()}}</div>
    } @else if (facade.studenti().length === 0) {
        <div class="alert alert-info">Nessun elemento trovato</div>
    } @else {
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-3">
            
            @for (item of facade.studenti(); track item.idStudente) {
                <div class="col-md-4"> 
                    
                    <app-card
                        [titolo]="item.nome + ' ' + item.cognome"
                        [descrizione]="item.codiceStudente"
                        [image]="'user-icon.jpg'"
                        (selezionato)="goToDettaglio(item.idStudente)"
                    >
                    </app-card>

                </div>
            }
        </div>
    }

    <hr class="mt-5">

    <app-lista-corsi/>

</div>